* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

body {
  font-family: "Courier New", monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

#toolbar {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-bottom: 1px solid #222;
  flex-shrink: 0;
}

.tool-btn {
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
.tool-btn:hover {
  background: #222;
  color: #e2e2e2;
  border: 1px solid #444;
  border-radius: 5px;
}
.tool-btn.active {
  background: #000000;
  border: 1px solid #00cc66;
  color: #00ff88;
  border-radius: 5px;
}

.sep {
  width: 1px;
  height: 20px;
  background: #222;
  margin: 0 6px;
}

#main {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

#canvas-wrap {
  flex: 1;
  position: relative;
  overflow: hidden;
}

#canvas {
  display: block;
}

/* ---- Props Panel ---- */
#props {
  width: 190px;
  /* background: #0f0f0f; */
  border-left: 1px solid #1e1e1e;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  flex-shrink: 0;
}

#props h3 {
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.prop-row {
  display: flex;
  flex-direction: column;
}
.prop-row label {
  font-size: 10px;
  text-transform: uppercase;
}

.prop-row input[type="text"],
.prop-row input[type="number"] {
  padding: 4px 6px;
  font-family: inherit;
  font-size: 12px;
  width: 100%;
}
.prop-row input:focus {
  outline: none;
}
.prop-row input[readonly] {
  color: #444;
}

.prop-row input[type="color"] {
  width: 100%;
  height: 28px;
  cursor: pointer;
}

#no-selection {
  color: #333;
  font-size: 11px;
}

/* ---- Bottom / Log ---- */
#logs {
  border-top: 1px solid #1a1a1a;
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-height: 20%;
}

#log-header {
  font-size: 12px;
  text-transform: uppercase;
}

#log-messages {
  overflow-y: auto;
  max-height: 110px;
  min-height: 40px;
  flex: 1;
  font-size: 12px;
}

/* ---- Keymap hint ---- */
#hint {
  font-size: 12px;
  color: #2a2a2a;
}
